.cart-container {
    width: 90%;
    margin: 0 auto;
}
.cart-title {
    margin: 30px;
    text-align: center;
    font-family: 'Fahkwang', sans-serif;
    font-weight: 300;
}
.product {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product-image {
    height: 100px;
    width: auto;
}