.cart-widget-container {
    margin: 5px;
    display: flex;
    align-items: center;
   
}
.cart-widget-link {
    text-decoration: none;
}
.material-symbols-outlined.cart {
    font-size: 18px;
    color: black;
}
.quantity-num {
    font-size: 14px;
    text-decoration: none;
}
