* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: 'BIZ UDPGothic', sans-serif;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}
.links-container {
  display: flex;
  justify-content: center;
  list-style: none;
}
.link {
  margin: 10px;
  font-size: 10px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.link:hover {
  color: gray;
}